.App {
  /* text-align: center; */
  background-color: rgb(42, 38, 38);
  height: 100vh;
  color: white;
}

.header {
  text-align: center;
  padding: 20px;
}

.grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  height: 30px;
}

img {
  width: 30px;
  height: 30px;
}
